* {
  box-sizing: border-box;
}
  
.text1 {
  padding: 15px;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
  
.text2 {
  padding: 15px;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.text3 {
  padding: 15px;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.text4 {
  padding: 15px;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
  
.text5 {
  padding: 15px;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
  
.text6 {
  padding: 15px;
  text-align: center;
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
  
.gallery {
  border-bottom: 2px solid rgb(170, 170, 170);
  border-top: 2px solid rgb(170, 170, 170);
}
  
.gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
  
.responsive {
  padding: 15px 30px;
  float: left;
  width: 33.3333334%; /* neli pilti reas=25%, kolm pilti reas=33.33% (33.3333334 x 3 = 100%), kaks pilti reas=50% */
}
  
.background-colorGallery {
  min-height: 700px;
  background-color: rgb(13, 13, 13); 
  min-width: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
.background-colorGalleryStarClusters {
  min-height: 1050px;
  background-color: rgb(13, 13, 13); 
  min-width: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
@media only screen and (max-width: 1390px) {
  .responsive {
    width: 50%;
    padding: 15px 45px;
  }

  .gallery img {
    height: 500px;
  }
  .background-colorGallery {
    min-height: 1400px;
  }
}
  
@media only screen and (max-width: 1230px) {
  .responsive {
    width: 50%;
    padding: 15px 45px;
  }

  .gallery img {
    height: 450px;
  }

  .background-colorGallery {
    min-height: 1200px;
  }
}
  
@media only screen and (max-width: 1120px) {
  .responsive {
    width: 50%;
    padding: 15px 20px;
  }

  .gallery img {
    height: 400px;
  }

  .background-colorGallery {
    min-height: 1100px;
  }
}
  
@media only screen and (max-width: 935px) {
  .responsive {
    width: 50%;
    padding: 15px 20px;
  }

  .gallery img {
    height: 350px;
  }

  .background-colorGallery {
    min-height: 1000px;
  }
}
  
@media only screen and (max-width: 835px) {
  .responsive {
    width: 50%;
    padding: 25px 20px;
  }

  .gallery img {
    height: 300px;
  }

  .background-colorGallery {
    min-height: 1000px;
  }
}
  
@media only screen and (max-width: 690px) {
  .responsive {
    width: 100%;
    padding: 10px 60px;
  }

  .gallery img {
    height: 400px;
  }

  .background-colorGallery {
    min-height: 1700px;
  }
}
  
@media only screen and (max-width: 560px) {
  .responsive {
    width: 100%;
    padding: 10px 60px;
  }

  .gallery img {
    height: 325px;
  }

  .background-colorGallery {
    min-height: 1400px;
  }
}
  
.textGallery {
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: normal;
  padding-top: 60px;
  font-size: 4em;
}
  
  
@media screen and (max-width: 560px) {
  .textGallery {
    font-size: 3.5em;
    padding-top: 65px;
  }
}
  
@media screen and (max-width: 460px) {
  .textGallery {
    font-size: 3em;
    padding-top: 65px;
  }

  .gallery img {
    height: 250px;
  }

  .background-colorGallery {
    min-height: 1100px;
  }
}
  
@media screen and (max-width: 400px) {
  .textGallery {
    font-size: 2.15em;
    padding-top: 75px;
  }

  .textGalleryGALAXIES {
    font-size: 3em;
    padding-top: 75px;
  }

  .responsive {
    width: 100%;
    padding: 10px 50px;
  }

  .gallery img {
    height: 225px;
  }

  .background-colorGallery {
    min-height: 1000px;
  }
}
  
@media screen and (max-width: 335px) {
  .responsive {
    width: 100%;
    padding: 10px 35px;
  }

  .gallery img {
    height: 175px;
  }

  .background-colorGallery {
    min-height: 900px;
  }
}

.rectangleNebulae {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 280px;
  background-image: url("/images/taust3.jpg");
  height: 200px;
  border-radius: 0px;
  background-size: cover;
}