*{
  box-sizing: border-box;
  text-decoration: none;
}

.Container {
  padding: 5px 5px 5px;
  max-width: 900px;
  margin: auto;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.ContactTitle {
  font-family: 'Work Sans', 'sans-serif';
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: 600;
  margin: 0 10px 0 10px;
  word-wrap: normal;
  padding-top: 70px;
  font-size: 2em;
  text-decoration: underline dashed #737373;
}

.image-background4 {
  background-color: rgb(13, 13, 13); 
  min-width: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
 }

.required {
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.required-star {
  color: rgb(255, 0, 0);
}


form {
  width: 850px; /* ennem oli 640px */
  margin: 100px auto;
  max-width: 90%;
  border-radius: 4px;
}
  
form .half {
  display: flex;
  justify-content: space-between;
}
  
form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}
  
form label {
  display: block;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}
  
form .half .item input {
  border-radius: 1px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
  color: #fff;
}
  
form .message-box {
  margin-bottom: 5px;
}
  
form .message-box textarea {
  font-family: 'Work Sans', 'sans-serif';
  background: transparent;
  border-radius: 1px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
  color: #fff;
}
  
.Send {
  border: none;
  padding: 9px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  transition-duration: 0.6s;
  cursor: pointer;
}
  
.SendButton {
  background-color: rgb(249, 249, 249); 
  color: rgba(93, 61, 211, 0.970);
  border: 3px solid rgba(93, 61, 211, 0.970);
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  font-weight: 650;
}
  
.SendButton:hover {
  background-color: rgba(93, 61, 211, 0.970);
  color: white;
}
  
form .half .item input:focus, form .message-box textarea:focus {
  background: rgba(255, 255, 255, 0.107);
}
  
@media (max-width: 488px) {
  form .half {
    flex-direction: column;
  }

  form .half .item {
    width: 100%;
  }

  form .action input {
    margin-bottom: 10px;
    width: 100%;
  }
}

.label {
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 1em;
}


@media screen and (max-width: 900px) {
  .ContactTitle {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 768px) {
  .Send {
    padding: 8px 19px;
    font-size: 25px;
  }
}

@media screen and (max-width: 675px) {
  .ContactTitle {
    font-size: 1.6em;
    line-height: 35px;
  }
}

@media screen and (max-width: 581px) {
  .ContactTitle {
    font-size: 1.35em;
  }
}



@media screen and (max-width: 488px) {
  .Send {
    padding: 7px 15px;
    font-size: 22px;
  }
}


@media screen and (max-width: 328px) {
  .ContactTitle {
    font-size: 1.7em; 
  }
}