body {
  background-color: rgb(13, 13, 13);
  margin: 0;
  padding: 0;
  position: relative;
}

nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding-block: 0rem;
  background-color: transparent;
  transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
  min-width: 280px; /* parandas galaxy fold issue */
}

.padding {
  padding-top: 74.5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: none;
  color: rgb(230, 230, 230);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;

  /* Tsentreerib vertikaalselt teksti */
  display: grid;
  place-items: center;
  line-height: 100%; /* Tähtis! */
}

.text-two {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  font-size: 1.3em;
  line-height: 190%; /* Tähtis! Et tekst läheks uuele reale */
  word-break: break-word;

  /* Tsentreerib vertikaalselt teksti */
  display: grid;
  place-items: center;
}

/* astrojanari logo, home page */
.logo-1 {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  letter-spacing: 0.05em;
}

/* nalja p2rast */
.logo-holder{
  text-align: center;
  padding: 0em; /* !! Liigutab menu asjad rohkem alla !! */
}

/* eemaldab underline logolt */
a:link {
  text-decoration: none;
  color: #fff; /* Eemaldab "ASTROJANARI" logo sinise tooni */
}

a:visited { 
  text-decoration: none; 
  color: #fff; 
}

.logo {
  margin-inline: 0.5rem;
  width: clamp(3rem, 10vw, 7.5rem);
  display: grid;
  place-items: center;
}

.logo-link:focus-visible,
.nav-link:focus-visible {
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;  /*Ennem oli display: flex; (parandas vajutamis probleemi (menu)) */
  align-items: center; 
  text-align: center;
  flex-direction: column;
  gap: 2rem; /* teksti vahe */
  transform: translate3d(-200%, 0, 0); 
  position: absolute;
  z-index: -1;
  top: 3.5rem;
  left: 0;
  right: 0;
  background-color: rgb(13, 13, 13);
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.nav-links.activated {
  transition: transform 0.21s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

/* saab teksti liigutada vasak, parem */
.btn {
  color: rgb(230, 230, 230);
  text-decoration: none;
  cursor: pointer;
  margin-top: 4px; /* muuda seda siin, et positsioneerida menu teksti */
  letter-spacing: 0.05em;
}

.btn--menu {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  transition: transform 0.15s cubic-bezier(1, 1, 1, 1); /* ennem oli cubic-bezier(0.64, 0.04, 0.26, 0.87); */
}

li[role="none"],
.nav-link {
  display: block;
  width: 100%; /* ! */
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Work Sans', 'sans-serif';
  line-height: 175%; /* home, gallery, my gear, contact - saab liigutada yles ja alla */
}

.btn--menu[aria-expanded="true"] {
  transform: rotate(-90deg); 
}

.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 1100px) {
  nav {
    padding-block: 1.25rem;
  }
}

@media (min-width: 1101px) {
  .btn--menu {
    display: none;
}

.nav-links {
  position: static;
  transform: translate3d(0, 0, 0);
  flex-direction: row;
  border: 0;
  z-index: 0;
  padding: 0; 
  inset: 0;
  background-color: transparent;
}

li[role="none"],
  .nav-link {
    width: initial;
  }
}

.container {
  margin-inline: max((100% - 90rem) / 2, 1rem);
}

@keyframes rise {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-container {
  display: grid;
  gap: 1rem;
  position: relative;
  top: -5vh;
}

/* Menu underline */
.nav-link[aria-current="page"] {
  text-decoration: underline solid #f8c348 0.15rem;
  text-underline-offset: 0.3rem;
}

/* sotsiaalmeedia nupud */
.fa {
  padding: 10px;
  font-size: 40px;
  /* width: 25px; */
  text-decoration: none;
  margin: 15px 5px;
}

.CenteredIcons {
  margin: auto; 
  text-align: center;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook {
  background: rgb(20, 20, 20);
  color: white;
  border-radius: 20px;
}

.fa-instagram {
  background: rgb(20, 20, 20);
  color: white;
  border-radius: 20px;
}

/* copyright text */
.right {
  font-family: 'Work Sans', 'sans-serif';
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  word-wrap: break-word;
  line-height: 1em;
  padding-top: 40px;
  padding-bottom: 25px;
}

.image-backgroundfive {
  background-color: rgb(13, 13, 13); 
  min-width: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.AboutMe {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  word-wrap: break-word;
  font-size: 2.1em;
}

.ContainerSix {
  padding: 50px 50px 50px;
  max-width: 1000px;
  margin: auto;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.homePilt {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.aboutMeTextHome {
  font-family: 'Work Sans', 'sans-serif';
  color: rgba(245, 245, 245, 0.75);
  font-size: 1.3em;
  display: inline-block;
  margin-left: 20px;
  width: 42%;
  overflow: hidden;

  /* Apply animation to this element */	
  animation: slide-up 2s ease-out;
}

@media only screen and (max-width: 882px) {
  .aboutMeTextHome {
    font-size: 1.19em;
    width: 42%;
  }

  .homePilt {
    width: 52%;
  }
}

@media only screen and (max-width: 840px) {
  .aboutMeTextHome {
    font-size: 1.19em;
    width: 100%;
    margin: 0;
  }

  .homePilt {
    width: 100%;
  }

  .ContainerSix {
    padding: 50px 100px 10px;
    max-width: 1000px;
  }

  .AboutMe {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 679px) {
  .aboutMeTextHome {
    font-size: 1.1em;
    width: 100%;
    margin: 0;
  }

  .homePilt {
    width: 100%;
  }

  .ContainerSix {
    padding: 50px 100px 10px;
    max-width: 1000px
  }
  
  .AboutMe {
    padding-top: 10px;
    font-size: 2.1em;
  }

  .text {
    font-size: 3.5em;
    text-align: center;
  }

  .text-two {
    font-size: 1.2em;
  }
}



@media only screen and (max-width: 582px) {
  .aboutMeTextHome {
    font-size: 1.1em;
    width: 100%;
    margin: 0;
  }
  .homePilt {
    width: 100%;
  }
  
  .ContainerSix {
    padding: 50px 80px 10px;
    max-width: 1000px
  }

  .AboutMe {
    padding-top: 10px;
    font-size: 2.1em;
  }
}

@media only screen and (max-width: 483px) {
  .text {
    font-size: 3em;
  }
  
  .text-two {
    font-size: 0.75em;
  }
}
  
@media only screen and (max-width: 425px) {
  .aboutMeTextHome {
    font-size: 1em;
    width: 100%;
    margin: 0;
  }

  .homePilt {
    width: 100%;
  }

  .ContainerSix {
    padding: 50px 55px 10px;
    max-width: 1000px
  }

  .AboutMe {
    padding-top: 10px;
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 375px) {
  .homePilt {
    width: 100%;
  }

  .ContainerSix {
    padding: 50px 45px 10px;
    max-width: 1000px
  }

  .text-two {
    font-size: 0.75em;
    text-align: center;
    line-height: 23px;
  }

  .InvisibleBarrier {
    height: 160px;
  }
}

@media only screen and (max-width: 375px) {
  .text {
    font-size: 2.5em;
  }
  
  .text-two {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 280px) {
  .aboutMeTextHome {
    font-size: 1em;
    width: 100%;
    margin: 0;
  }
  .homePilt {
    width: 100%;
  }
  .ContainerSix {
    padding: 50px 35px 10px;
    max-width: 1000px
  }
  .AboutMe {
    padding-top: 5px;
    font-size: 1.75em;
  }
}

.text-box {
  animation: fade-in 4s;
}

.text-box-second {
  animation: fade-in-second 5s;
}

/* Esilehe pealkiri, fade in */
@keyframes fade-in {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* Esilehe pealkiri, fade in */
@keyframes fade-in-second {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* "About me" pealkiri */
.fade-in-about-me {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in-about-me.appear {
  opacity: 1;
}

/* "About me" tekst */
.fade-in-about-me-text {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.fade-in-about-me-text.appear {
  opacity: 1;
}

.image-background-teleskoop2 {
  background-repeat: no-repeat;
  background-position: bottom;
  height: 700px;
  background-size: cover;
  background-image: url(images/teleskoop2.png); 
  min-width: 280px
}