body {
  background-color:rgb(10, 10, 10);
  margin: 0;
  padding: 0;
  position: relative;
}


.image-background-teleskoop2 {
  background-repeat: no-repeat;
  background-position: bottom;
  height: 700px;
  background-size: cover;
  background-image: url(/images/teleskoop2.png); 
  min-width: 280px
}

.InvisibleBarrier {
  height: 250px;
}

nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding-block: 0.75rem;
  background-color: transparent;
  transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
  min-width: 280px; /* parandas galaxy fold issue */
}

nav.active {
  background-color: var(--dark);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 280px) {
  .padding {
    padding-top: 0px;
  }

  .text-media {
    padding: 0px 0px 0px;
    font-size: 15px;
  }
  
  .logo-1 {
    margin-left: 0px;
  }

  .btn--menu {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    padding-inline: 0rem;
    transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }
}


.text {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: none;
  color: rgb(230, 230, 230);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;

  /* Tsentreerib vertikaalselt teksti */
  display: grid;
  place-items: center;
  line-height: 100%; /* Tähtis! */
}

.text-two {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  font-size: 1.3em;
  line-height: 190%; /* Tähtis! Et tekst läheks uuele reale */
  word-break: break-word;

  /* Tsentreerib vertikaalselt teksti */
  display: grid;
  place-items: center;
}


/* astrojanari logo, home page */
.logo-1 {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  margin-top: -6px; /* muuda seda siin, et positsioneerida menu teksti */
  
}

/* nalja p2rast */
.logo-holder{
  text-align: center;
}

/* eemaldab underline logolt */
a:link {
  text-decoration: none;
  
}

a:visited { 
  text-decoration: none; 
  color: #fff; 
}

/*  .text {
  font-family: 'Work Sans', 'sans-serif';
  font-size: 60px;
  text-transform: none;
  color: rgb(230, 230, 230);
  position: absolute;
  left: 0vw;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  
}
.text-two {
  font-family: 'Work Sans', 'sans-serif';
  font-size: 25px;
  text-transform: none;
  color: rgb(230, 230, 230);
  position: absolute;
  left: 0vw;
  width: 100%;
  margin-top: -40px;

  margin: 0;
  padding: 0;
  
} */

.logo {
  margin-inline: 0.5rem;
  width: clamp(3rem, 10vw, 7.5rem);
  display: grid;
  place-items: center;
}

.logo-link:focus-visible,
.nav-link:focus-visible {
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem; /* teksti vahe v2iksemal ekraanil (ylaly alla) */
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem; 
  left: 0;
  right: 0;
  background-color: rgb(10, 10, 10);
  padding: 1rem;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
}

.nav-links.activated {
  transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

/* saab teksti liigutada vasak, parem */
.btn {
  color: rgb(230, 230, 230);
  text-decoration: none;
  padding: 1.1rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 9.5px /* muuda seda siin, et positsioneerida menu teksti */
}

.btn--accent {
  background-color: var(--accent);
  padding: 0.3rem 2rem;
}

.btn--menu {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  transition: transform 0.2s cubic-bezier(1, 1, 1, 1); /* ennem oli cubic-bezier(0.64, 0.04, 0.26, 0.87); */
}

li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Work Sans', 'sans-serif';
  line-height: 0px; /* home, gallery, my gear, contact - saab liigutada yles ja alla */
}


.btn--menu[aria-expanded="true"] {
  transform: rotate(-90deg);
}

.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 1112px) {
  .btn--menu {
    display: none;
}

.nav-links {
  position: static;
  transform: translate3d(0, 0, 0);
  flex-direction: row;
  border: 0;
  z-index: 0;
  padding: 0; 
  inset: 0;
  background-color: transparent;
}

li[role="none"],
  .nav-link {
    width: initial;
  }
}

/*
.subheading {
  color: var(--text);
}
*/
/*
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
*/


.container {
  margin-inline: max((100% - 90rem) / 2, 1rem);
}


@keyframes rise {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-container {
  display: grid;
  gap: 1rem;
  position: relative;
  top: -5vh;
}

/* Menu underline */
.nav-link[aria-current="page"] {
  text-decoration: underline solid #f8c348 0.15rem;
  text-underline-offset: 0.3rem;
}

/* 
#divider {
    position : relative;
    top: -23px;
    text-align: center;
    border-bottom: 0.5px solid #888888;
    opacity: 0.4;
    }
    
    ul {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 238, 0);

    
}
    #dividertwo {
    position : relative;
    top: 18.5px;
    text-align: center;
    border-bottom: 0.5px solid #888888;
    opacity: 10; 
    } 
    
    
    
    ul li a:hover {
    color: #dcdcdc;
  }
  ul li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(255, 238, 0);
    transform: scaleX(0);
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  ul li:hover::after, ul li.active::after {
    transform: scaleX(1);
  }
<script>
  const ul=document.querySelector("ul");
  const li=document.querySelector("li");

  li.forEach((e) =>{
    e.addEventListner("click", ()=>{
      ul.querySelector(".active").classList.remove("active");
      e.classList.add("active");
    })
  })
</script>
*/
    /* siin on pildi info - wonders of space ...*/

.padding {
  padding-top: 80px;
}

/* sotsiaalmeedia nupud */
.fa {
  padding: 10px;
  font-size: 40px;
  /* width: 25px; */
  text-decoration: none;
  margin: 15px 5px;
}

.CenteredIcons {
  margin: auto; 
  text-align: center;

}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook {
  background: rgb(20, 20, 20);
  color: white;
  border-radius: 20px;
}

.fa-instagram {
  background: rgb(20, 20, 20);
  color: white;
  border-radius: 20px;
}

/* copyright text */
.right {
  font-family: 'Work Sans', 'sans-serif';
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  word-wrap: break-word;
  line-height: 1em;
  padding-top: 40px;
  padding-bottom: 25px;
}

.image-backgroundfive {
  background-color: rgb(13, 13, 13); 
  min-width: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.AboutMe {
  font-family: 'Work Sans', 'sans-serif';
  text-transform: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  word-wrap: break-word;
  font-size: 2.1em;
}

.ContainerSix {
  padding: 50px 50px 50px;
  max-width: 1000px;
  margin: auto;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.homePilt {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}


.aboutMeTextHome {
  font-family: 'Work Sans', 'sans-serif';
  color: rgba(245, 245, 245, 0.75);
  font-size: 1.3em;
  display: inline-block;
  margin-left: 20px;
  width: 42%;
  overflow: hidden;

  /* Apply animation to this element */	
  animation: slide-up 2s ease-out;
}

@media only screen and (max-width: 882px) {
  .aboutMeTextHome {
    font-size: 1.19em;
    width: 42%;
  }
  .homePilt {
    width: 52%;
  }
}

@media only screen and (max-width: 840px) {
  .aboutMeTextHome {
    font-size: 1.19em;
    width: 100%;
    margin: 0;
  }
  .homePilt {
    width: 100%;
  }
  .ContainerSix {
    padding: 50px 100px 10px;
    max-width: 1000px;
  }
  .AboutMe {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 679px) {
  .aboutMeTextHome {
    font-size: 1.1em;
    width: 100%;
    margin: 0;
  }
  .homePilt {
    width: 100%;
  }
  .ContainerSix {
    padding: 50px 100px 10px;
    max-width: 1000px
  }
  .AboutMe {
    padding-top: 10px;
    font-size: 2.1em;
  }
}



@media only screen and (max-width: 582px) {
  .aboutMeTextHome {
    font-size: 1.1em;
    width: 100%;
    margin: 0;
  }
  .homePilt {
    width: 100%;
  }
  
  .ContainerSix {
    padding: 50px 80px 10px;
    max-width: 1000px
  }

  .AboutMe {
    padding-top: 10px;
    font-size: 2.1em;
  }
}

@media only screen and (max-width: 483px) {
  .text {
    font-size: 3em;
  }
  
  .text-two {
    font-size: 1em;
  }

  .image-background-teleskoop2 {
    height: 450px;
  }

  .InvisibleBarrier {
    height: 175px;
  }
}
  
@media only screen and (max-width: 425px) {
  .aboutMeTextHome {
    font-size: 1em;
    width: 100%;
    margin: 0;
  }

  .homePilt {
    width: 100%;
  }

  .ContainerSix {
    padding: 50px 55px 10px;
    max-width: 1000px
  }
  .AboutMe {
    padding-top: 10px;
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 375px) {
  .homePilt {
    width: 100%;
  }

  .ContainerSix {
    padding: 50px 45px 10px;
    max-width: 1000px
  }

  .text {
    line-height: 120%;
  }

  .text-two {
    font-size: 0.9em;
    text-align: center;
    line-height: 23px;
  }
}


@media only screen and (max-width: 280px) {
  .aboutMeTextHome {
    font-size: 1em;
    width: 100%;
    margin: 0;
  }
  .homePilt {
    width: 100%;
  }
  .ContainerSix {
    padding: 50px 35px 10px;
    max-width: 1000px
  }
  .AboutMe {
    padding-top: 5px;
    font-size: 1.75em;
  }
}

.text-box {
  animation: fade-in 4s;
}

.text-box-second {
  animation: fade-in-second 5s;
}

/* Esilehe pealkiri, fade in */
@keyframes fade-in {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* Esilehe pealkiri, fade in */
@keyframes fade-in-second {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* "About me" pealkiri */
.fade-in-about-me {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in-about-me.appear {
  opacity: 1;
}

/* "About me" tekst */
.fade-in-about-me-text {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.fade-in-about-me-text.appear {
  opacity: 1;
}