.GalleryTextContainer {
  padding: 0px 0px 0px;
  max-width: 950px;
  margin: auto;
  background-color: rgb(13, 13, 13);
}

.ImageGalleryText {
  font-family: 'Work Sans', 'sans-serif';
  color: rgba(245, 245, 245, 0.75);
  text-align: center;
  word-wrap: break-word;
  padding: 60px 50px 20px 50px;
  font-size: 1.3em;
  line-height: 1.2;
}

.border {
  width: 94%;
  margin: auto;
  border: 2px #f8c348;
  border-style: solid;
}

.containerThree {
  display: flex;
  justify-content: center;  
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 120px 40px;
  transition-duration: 0.6s;
  cursor: pointer;
  letter-spacing: 0.6px;
}

.button1 {
  background-color: rgb(249, 249, 249); 
  color: rgba(93, 61, 211, 0.970);
  border: 3px solid rgba(93, 61, 211, 0.970);
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  font-weight: 650;
}

.button1:hover {
  background-color: rgba(93, 61, 211, 0.970);
  color: white;
}

.button2 {
  background-color: rgb(249, 249, 249); 
  color: rgba(93, 61, 211, 0.970);
  border: 3px solid rgba(93, 61, 211, 0.970);
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  font-weight: 650;
}

.button2:hover {
  background-color: rgba(93, 61, 211, 0.970);
  color: white;
}

.button3 {
  background-color: rgb(249, 249, 249); 
  color: rgba(93, 61, 211, 0.970);
  border: 3px solid rgba(93, 61, 211, 0.970);
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  font-weight: 650;
}

.button3:hover {
  background-color: rgba(93, 61, 211, 0.970);
  color: white;
}

.button4 {
  background-color: rgb(249, 249, 249); 
  color: rgba(93, 61, 211, 0.970);
  border: 3px solid rgba(93, 61, 211, 0.970);
  font-family: 'Work Sans', 'sans-serif';
  text-transform: uppercase;
  font-weight: 650;
}

.button4:hover {
  background-color: rgba(93, 61, 211, 0.970);
  color: white;
}

.background-colorGallery {
  height: 550px;
  min-height: 350px;
  background-color: rgb(13, 13, 13);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 280px;
}

@media only screen and (max-width: 1263px) {
  .button {
    padding: 16px 25px;
    font-size: 20px;
    margin: 120px 30px;
  }
}

@media only screen and (max-width: 1002px) {
  .button {
    padding: 16px 25px;
    font-size: 20px;
    margin: 120px 10px;
  }
}

@media only screen and (max-width: 842px) {
  .button {
    padding: 16px 20px;
    font-size: 15px;
    margin: 120px 18px;
  }
}

@media only screen and (max-width: 728px) {
  .containerThree {
    display: grid;
    justify-content: center;  
  }

  .button {
    padding: 16px 20px;
    font-size: 20px;
    margin: 25px 10px;
  }

  .background-colorGallery {
    height: 650px;
 }

 .ImageGalleryText {
  font-size: 1.1em;
  }
}

 .rectangle {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 280px;
  background-image: url("images/IC1318.png");
  height: 200px;
  border-radius: 0px;
  background-size: cover;
}


.textGallery {
  font-family: 'Work Sans', 'sans-serif';
  color: rgb(255, 255, 255);
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: normal;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}


@media screen and (max-width: 560px) {
  .textGallery {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 460px) {
  .textGallery {
      font-size: 3em;
    }

  .border {
    width: 78%;
  }
}

@media screen and (max-width: 400px) {
  .textGallery {
      font-size: 2.15em;
  }

  .ImageGalleryText {
    font-size: 0.95em;
  }
}